/* Globals */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}

/* Styling for the logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-size: 1.2rem;
    text-decoration: none;
}

.logo img {
    background-image: url('.face');
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}

.content-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    width: 99%;
    z-index: 1;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

nav h1 {
    font-size: 1rem;
    margin: 0;
    margin-left: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-right: 2rem;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #ff6dff;
}

.content-wrapper {
    min-height: calc(100vh - 60px);
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

section {
    padding: 25px;
    position: relative;
}

/* Header styling */
header {
    margin-top: 5rem;
    position: absolute;
    margin-left: auto;
    align-items: right;
    right: 2rem;
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    border-radius: 20px;
    border: 2px solid #fff;
    position: relative;
    padding: 2rem;
}

.header h2 {
    font-size: 1.8rem;
    margin-right: auto;
    margin-top: 0.5rem;
}

header p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.button-container {
    margin-top: 20px;
    margin-left: 0px;
    text-align: left;
}

.button {
    padding: 10px 20px;
    background-color: #3e8e41;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 20px;
    text-align: left;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #3e8e41;
}

/* About section styling */
.about {
    margin-top: 5rem;
    left: 2rem;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #fff;
}

.about:before {
    content: '';
}

.about .content {
    text-align: left;
}

.about h2 {
    font-size: 1.8rem;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: auto;
}

.about p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.featured-projects {
    width: calc(100% - 8rem);
    max-width: calc(100% - 8rem);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 5rem;
    border-radius: 20px;
    border: 2px solid #fff;
    overflow: hidden;
}

.featured-projects .content {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
    margin-top: 10px;
    padding-bottom: 20px;
}

.featured-projects h2 {
    font-size: 1.8rem;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.featured-projects .project {
    display: inline-block;
    margin-right: 1rem;
    vertical-align: top;
    width: calc(500px - 4px);
    height: 350px;
    white-space: normal;
    border-radius: 20px;
    border: 2px solid #fff;
    box-sizing: border-box;
    padding: 20px;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}

.featured-projects .project:hover {
    transform: scale(1.05);
}

.featured-projects .project img {
    aspect-ratio: 16 / 9;
    max-width: 100%;
}

/* Blog Section Styling */
.blog {
    left: 2rem;
    border-radius: 20px;
    border: 2px solid #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 65%;
    margin-top: 5rem;
    height: auto;
}

.blog-preview {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.blog h2 {
    font-size: 1.8rem;
}

.blog-preview-container {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    max-height: 800px;
    padding-right: 20px;
}

.blog-preview-card {
    width: 95%;
    display: flex;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 2px solid #fff;
}

.blog-preview-image {
    width: 30%;
    height: 200px;
    overflow: hidden;
    margin-right: 20px;
}

.blog-preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-preview-info {
    width: 100%;
}

.blog-preview-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.blog-preview-date,
.blog-preview-duration,
.blog-preview-views {
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: #666;
}

.blog-preview-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.blog-preview-sidebar {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin-right: auto;
}

.blog-preview-sidebar select,
.blog-preview-sidebar input[type='text'] {
    margin-bottom: 8px;
    width: calc(100% - 50px);
}

.blog-preview-search {
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
}

.blog-preview-search input[type='text'] {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.blog-preview-search button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.blog-preview-search button:hover {
    background-color: #3e8e41;
}

/* hover effect */
.blog-preview-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.tag-container {
    display: none;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-container.show-tags {
    display: flex;
    left: 0;
}

.tag-button {
    border: none;
    margin-top: 8px;
    border-radius: 16px;
    padding: 6px 12px;
    background-color: #eee;
    color: #555;
    cursor: pointer;
}

.tag-button.selected {
    background-color: #007bff;
    color: #fff;
}

.tag-button.selected::after {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* Contact section styling */
.contact {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #fff;
    position: relative;
    padding: 2rem;
}

.contact:before {
    content: '';
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact h2 {
    font-size: 1.8rem;
    margin: 0;
}

.contact p {
    margin: 1rem;
    font-size: 1.2rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.contact form .input-row {
    width: 100%;
    margin-bottom: 1rem;
}

.contact form .input-row .input-group {
    width: 100%;
}

.contact form .input-row .input-group:nth-child(2) {
    margin-top: 10px;
}

.contact form .input-group input[type='text'],
.contact form .input-group input[type='email'] {
    width: calc(100% - 10px);
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.contact form textarea {
    width: calc(100% - 10px);
    height: 150px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.contact form button[type='submit'] {
    width: auto;
    background-color: #3e8e41;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.contact form button[type='submit']:hover {
    background-color: #3e8e41;
}

/* Footer styling */
footer {
    position: relative;
    display: flex;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    height: 60px;
    z-index: 2;
}

footer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .left-text {
    flex: 1;
    text-align: right;
}

footer .right-text {
    flex: 1;
    text-align: left;
}

footer .symbol {
    margin: 0 0.5rem;
}

/* Responsive design */
@media (max-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        position: fixed;
        top: 0;
        width: 99%;
        height: 1.5rem;
        z-index: 1;
        background-color: transparent;
        backdrop-filter: blur(10px);
    }

    nav h1 {
        font-size: 1rem;
        margin: 0;
        margin-left: 0rem;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: 2.5rem;
        left: 0;
        width: auto;
        display: none;
        margin-left: auto;
        padding-right: 2rem;
        background-color: #000;
    }

    nav ul li {
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

    nav ul.show {
        display: flex;
    }

    section {
        width: calc(100% - 40px);
        margin: 20px auto;
    }

    /* Header styling */
    header {
        width: calc(100% - 80px);
        height: auto;
        border-radius: 20px;
        border: 2px solid #fff;
        position: relative;
        right: 50%;
        transform: translate(+50%, 0%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;
    }

    .header h2 {
        font-size: 1.5rem;
    }

    .header p {
        font-size: 1rem;
        text-rendering: optimizeLegibility;
        hyphens: auto;
    }

    .button-container {
        margin-top: 30px;
        margin-left: 0px;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
    }

    .button {
        margin: 0 10px 10px 0;
    }

    /* About section styling */
    .about {
        width: calc(100% - 80px);
        height: auto;
        border-radius: 20px;
        border: 2px solid #fff;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;
    }

    .about h2 {
        font-size: 1.5rem;
    }

    .about p {
        font-size: 1rem;
        text-rendering: optimizeLegibility;
        hyphens: auto;
    }

    .featured-projects {
        width: calc(100% - 50px);
        max-width: calc(100% - 50px);
        margin: 20px auto;
        margin-right: 8rem;
        margin-top: 5rem;
        border-radius: 20px;
        border: 2px solid #fff;
        overflow: hidden;
    }

    .featured-projects .content {
        overflow-x: auto;
        white-space: nowrap;
        font-size: 0;
        margin-top: 10px;
        padding-bottom: 20px;
    }

    .featured-projects h2 {
        font-size: 1.5rem;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .featured-projects .project {
        height: 350px;
        border-radius: 20px;
        border: 2px solid #fff;
        padding: 20px;
        font-size: 1rem;
        transition: transform 0.3s ease-in-out;
    }

    .featured-projects .project img {
        aspect-ratio: 16 / 9;
        max-width: auto;
    }

    .featured-projects .project:hover {
        transform: scale(1.05);
    }

    /* Blog Preview section styling */
    .blog {
        position: relative;
        left: 50%;
        width: calc(100% - 80px);
        height: auto;
        transform: translate(-50%, 0%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding: 2.5rem;
    }

    .blog h2 {
        font-size: 1.5rem;
    }

    .blog-preview-sidebar {
        position: relative;
        width: 100%;
        order: -1;
        padding: 0;
        left: 0;
        margin-bottom: 1rem;
    }

    .blog-preview-container {
        width: 100%;
        padding-top: 10px;
        box-sizing: border-box;
        padding-right: 10px;
        height: 400px;
    }

    .blog-preview-card {
        width: 100%;
        display: flex;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 20px;
        border: 2px solid #fff;
    }

    .blog-preview-image {
        width: 30%;
        height: 200px;
        overflow: hidden;
        margin-right: 20px;
    }

    .blog-preview-image img {
        width: auto;
        height: auto;
        object-fit: cover;
    }

    .blog-preview-info {
        width: 100%;
        height: auto;
    }

    .blog-preview-info h3 {
        font-size: 0.8rem;
        margin-bottom: 0.5px;
        margin-top: 0.5rem;
    }

    .blog-preview-date,
    .blog-preview-duration,
    .blog-preview-views {
        margin-bottom: 5px;
        font-size: 0.5rem;
        color: #666;
    }

    .blog-preview-description {
        font-size: 0.4rem;
        line-height: 0.5;
        margin-bottom: 1px;
    }

    .contact {
        width: calc(100% - 65px);
        height: auto;
    }

    .contact h2 {
        font-size: 1.5rem;
    }

    .contact p {
        font-size: 1rem;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 0.5rem;
        right: 2.5rem;
        cursor: pointer;
        z-index: 2;
    }

    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 5px;
        transition: transform 0.2s ease-in-out;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
